@media (min-width: 865px){
    .piedepagina{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: 
    "logoo links"
    "logoo mas";}
}

.piedepagina{
    background-color: #111111;
    border-top: black solid 5px;
    .logo_contender{
        grid-area: logoo;
        display: flex;
        justify-content: center;
        align-items: center;
        .logo_footer{
            width: 90%;
            background-color: rgb(53, 53, 53);
            border: #202020 solid 4px;
            display: flex;
            justify-content: center;
            .logo_nombre_footer{
                color: rgb(69, 156, 228);
                font-size: 5rem;
            }
        }
    }
    .otros_links{
        grid-area: links;
        display: flex;
        justify-content: center;
        &_texto{
            color: rgb(34, 80, 178);
            font-size: 3rem;
        }
    }
    .links{
        grid-area: mas;
        display: flex;
        justify-content: space-evenly;
        &_texto{
            color: rgb(207, 204, 204);
            font-size: 2rem;
        }
    }
}
